.center {
    width: 100%; 
    height: 92vh; 
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  .container{
      width:556px; 
      height:600px; 
      border:3px solid #6E93B3; 
      padding:30px 79px 19px;
  }
  .col1{
    width: 5%;
  }
  .col2{
    width: 25%;
  }
  .col3{
    width: 25%;
  }
  .col4{
    width: 25%;
  }
  .count-table{
    width: 100%;
    margin-top: 1em;
    text-align: left;
  }
  .list-table{
    width: 100%;
    margin-top: 1em;
    text-align: left;
  }

  .khoa{
      width: 87.5%;
      margin-left: 5%;
      height: 42px; 
      border: 3px solid #92ADC6; 
      font-size: 18px;
  }
  .login_btn{
      text-align: center; 
      margin: 40px
  }
  label{
      font-size: 16px;
      margin: 3% 0% 0%;
  }
  .keyword{
      width: 77%; 
      display: inline-block; 
      margin-left: 5%;
      border: 3px solid #92ADC6; 
      height: 36px; 
      padding: 0 10px; 
      font-size: 16px;
  }

  #search{
      background: #3f0ce6; 
      padding: 12px 12px; 
      border: 2px solid #487CAA; 
      border-radius: 10px;
      color: white; 
      font-size: 16px; 
      cursor: pointer;
      margin: 8px 24%;
      text-align: center;
      width: 130px
  }
  #delete{
    background: #3f0ce6; 
    padding: 12px 12px; 
    border: 2px solid #487CAA; 
    border-radius: 10px;
    color: white; 
    font-size: 16px; 
    cursor: pointer;
    margin: 8px 24%;
    text-align: center;
    width: 130px
}

  .add-btn {
    background: #3f0ce6;
    padding: 8px 8px;
    border: 3px solid #487CAA;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin: 10px 0px;
    text-align: center;
    width: 100px;
}

.alter {
    background: #3f0ce6;
    padding: 2px 1px;
    border: 2px solid #487CAA;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin: 6px 10px;
    text-align: center;
    width: 50px;
}