.center {
    width: 100%; 
    height: 92vh; 
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  .container{
      width:556px; 
      height:100px; 
      border:3px solid #6E93B3; 
      padding:30px 79px 19px;
  }
.text{
    text-align: center;
}