.center {
  width: 100%; 
  height: 92vh; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.container{
	width:556px; 
	height:600px; 
	border:3px solid #6E93B3; 
	padding:30px 79px 19px;
}
.timezone{
	background: #F2F2F2; 
	padding:10px; font-size: 18px;
}
.form-control{
			width : 40%;
			border : 1.5px solid #42729e;
			/* height: 150%; */
			padding: 10px 10px; 
			/* line-height: 20px; */
		}
.user_input{
	margin-top: 20px; 
	display: flex;
}
.user_info{
	margin: 10px; 
	font-size: 18px;
}
.user_submit{
	align-items: center;
	display: flex;
    justify-content: center;
}
#gender{

	height: 18px;
	font-size: 35px;
	width: 15%;
	margin: 3% 0% 0%;
	padding-top: 5%;
	
	
}
#khoa{
	width: 40%;
	margin-left: 5%;
	border: 3px solid #92ADC6; 
	font-size: 18px;
}
.login_btn{
	text-align: center; 
	margin: 40px
}
label{
	font-size: 18px;
	margin: 3% 0% 0%;
}
lable{
	padding: 10px 10px;
	display: inline-block; 
	width: 32%;
	border: 3px solid #487CAA; 
	background: #29b748; 
	color: white; 
	font-size: 18px;
	text-align: center;
	height: 46px;
}
.fullName{
	width:47.5%; 
	margin-left: 5%;
	display: inline-block; 
	border: 3px solid #92ADC6; 
	height: 46px; 
	font-size: 18px;
}

.birthday{
	width:47.5%; 
	display: inline-block; 
	margin-left: 5%;
	border: 3px solid #92ADC6; 
	height: 46px; 
	padding: 0 10px; 
	font-size: 18px;
}
.address{
	width:47.5%; 
	display: inline-block; 
	margin-left: 5%;
	border: 3px solid #92ADC6; 
	height: 46px; 
	padding: 0 10px; 
	font-size: 18px;
}
.image{
	margin-left: 5%;
	height: 46px; 
	font-size: 12px;
}
#form_btn{
	background: #29b748; 
	padding: 12px 24px; 
	border: 3px solid #487CAA; 
	border-radius: 10px;
	color: white; 
	font-size: 18px; 
	cursor: pointer;
	margin: 6px;
	text-align: center;
	width: 140px;
	height: 56px;
	
}
	